[MAIN]
py-version = 3.12
jobs = 0
init-hook = "import sys; sys.path[:0] = ['src', '.']"
load-plugins =

[MESSAGES CONTROL]
disable =
    too-few-public-methods,
    duplicate-code,

[DESIGN]
max-args = 8
max-positional-arguments = 8
max-attributes = 8

[FORMAT]
max-line-length = 88
